@{
    ViewBag.Title = "About";
}
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<input type="file" id="imageUploadForm" name="image" multiple="multiple" />


<p>Use this area to provide additional information.</p>
<script type="text/javascript">

    $(document).ready(function () {
        $("#imageUploadForm").change(function () {
            var formData = new FormData();
            var totalFiles = document.getElementById("imageUploadForm").files.length;
           // alert(totalFiles);
            for (var i = 0; i < totalFiles; i++) {
                var file = document.getElementById("imageUploadForm").files[i];
                formData.append("imageUploadForm", file);
            }
            $.ajax({
                type: "POST",
                url: '/Home/postAbout',
                data: formData,
                dataType: 'json',
                contentType: false,
                processData: false
                //success: function(response) {
                //    alert('succes!!');
                //},
                //error: function(error) {
                //    alert("errror");
                //}
            }).done(function () {
                alert('success');
            }).fail(function (xhr, status, errorThrown) {
                alert('fail');
            });
        });
    });

</script>